<div *ngIf="table">
    <h1 class="page-header">{{table.tableName}}</h1>
    <table class="table table-striped">
        <thead>
        <tr >
            <th>country</th>
            <th *ngFor="let item of table.columnHeaders">{{item}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let kyfRow of table.kyf; let i=index">
            <td>{{table.rowHeaders[i]}}</td>
            <td *ngFor="let kyf of kyfRow">{{ kyf }}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success btn-xs"
            (click)="startAnalyze()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
        <span class="glyphicon glyphicon-upload"></span> Start analyze
    </button>
    <br>
    <button type="button" class="btn btn-warning btn-xs"
            (click)="goBack()" [disabled]="!item.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> back
    </button>
    <br>
    <button type="button" class="btn btn-danger btn-xs"
            (click)="deleteTable()">
        <span class="glyphicon glyphicon-trash"></span> Remove
    </button>
</div>