<div *ngIf="table">
    <h1 class="page-header">{{table.tableName}}</h1>
    <table class="table table-striped">
        <thead>
        <tr >
            <th>country</th>
            <th *ngFor="let item of table.columnHeaders">{{item}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let kyfRow of table.kyf; let i=index">
            <td>{{table.rowHeaders[i]}}</td>
            <td *ngFor="let kyf of kyfRow">{{ kyf }}</td>
        </tr>
        </tbody>
    </table>
    <input type="button" class="btn-danger" (click)="someMeth()"/>
</div>